@model List<ElectoralList>;

@*<h1>Here you will Cast your Vote for one of the Electoral Lists</h1>*@

<h1>@ViewData["VotingResult"]</h1>

<div class="elec-lists-cards-container">

    @foreach (var list in Model)
    {
        <div class="card" style="width: 18rem; display: inline-block">
            <img class="card-img-top" src="~/images/electoral-roll.png" asp-append-version="true">
            <div class="card-body">
                <h5 class="card-title">@list.Name</h5>
                <form asp-action="ListsVote" method="post">
                    <input type="text" hidden name="name" value="@list.Name" />
                    <button class="btn btn-info" @ViewData["disabled"]>Vote</button>
                </form>
                <h5 class="card-text">@list.NbOfVotes</h5>
            </div>
        </div>
    }

</div>